body{
    background-color: aliceblue;
}
h2{
    display: flex;
    justify-content: center;
}

#exit{
    display: block;
    margin: 10px;
    margin-left: auto;
}

#menu{
    display: flex;
    justify-content: center;
}
#menu button{
    margin: 20px;
}
#resultHeader{
    display: flex;
    justify-content: center;
}

td,
th {
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}
td {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #eee;
}

th[scope="col"] {
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {
    background-color: #d7d9f2;
}
