#addForm, #addHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset{
    display: inline-block;
    width: 180px;
}
#addNew{
    display: flex;
    align-items: center;
}
.fa-solid{
    margin-right: 5px;
}
.error-msg{
    background-color: red;
    color: white;
    font-size: large;
    display: flex;
    justify-content: center;
}