body{
    background-color: aliceblue;
}
h2{
    display: flex;
    justify-content: center;
}

#exit{
    display: block;
    margin: 10px;
    margin-left: auto;
}

#menu{
    display: flex;
    justify-content: center;
}
#menu button{
    margin: 20px;
}

.fa-solid{
    margin-right: 5px;
}